body {
  background-color: rgb(180, 180, 190);
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 50px;
}
